@import "./global.css";
/* components css */
@import"./components.css/buttons.css";
@import"./components.css/header.css";
@import"./components.css/footer.css";
@import"./components.css/hero-section.css";
@import"./components.css/our-clients.css";
@import"./components.css/ninja-developer.css";
@import"./components.css/testimonial-card.css";
@import"./components.css/service-section.css";
@import"./components.css/hire-card.css";
