a {
    text-decoration: none;
    /* color: #fff; */
}

.btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

.btn-primary {
    border: 1px solid #5243C2;
    background-color: #5243C2;
    color: #ffffff;
}

.btn-secondary {
    border: 1px solid #EF0178;
    color: #EF0178;
}
.btn-tertiary{
    background-color: rgba(244,150,209,0.1);
    border-radius: 30px;
    color: #F496D1;
}

.btn-primary:hover {
    color: #5243C2;
    background-color: #fff;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #EF0178;
}
.btn-tertiary:hover {
    color: #fff;
    background-color: #EF0178;
}

@media (max-width: 991.98px) {
    .btn {
        padding: 8px 24px;
        /* border-radius: 5px; */
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
    }
    .btn-tertiary{
        border-radius: 24px ;
    }
}

@media (max-width: 767.98px) {
    .btn {
        padding: 4px 16px;
        /* border-radius: 5px; */
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
    }
    .btn-tertiary{
        border-radius: 20px ;
    }
}