.hero-section{
    display: flex;
    align-items: center;
    padding: 20px 0 50px 0;
}
.hero-section .discription p{
    margin: 25px 0;
}
.hero-section .media img{
    width: 630px;
    height: auto;
}
/* responsive */
@media (max-width: 991.98px){
    .hero-section{
        padding: 20px 0 40px 0;
    }
    .hero-section .discription p{
        margin: 20px 0;
        font-size: 16px;
        line-height: 24px;
    }
    .hero-section .discription h1{
        font-size: 50px;
        line-height: 72px;
    }
    .hero-section .media img{
        width: 500px;
    }
}
@media (max-width: 767.98px){
    .hero-section{
        padding: 20px 0 40px 0;
    }
    .hero-section .discription p{
        margin: 16px 0;
        font-size: 14px;
        line-height: 20px;
    }
    .hero-section .discription h1{
        font-size: 36px;
        line-height:50px;
    }
    .hero-section .media img{
        width: 380px;
    }
}
@media (max-width: 575.98px){
    .hero-section{
        padding: 16px 0 32px 0;
    }
    .hero-section .discription p{
        margin: 12px 0;
        font-size: 14px;
        line-height: 20px;
    }
    .hero-section .discription h1{
        font-size: 30px;
        line-height:42px;
    }
    .hero-section .media img{
        width: 300px;
    }
}