.hire--{
    margin: 50px 10px 100px 10px;
}

.hire-card{
    background-color: #5243C2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    padding: 100px 50px 100px 70px;

}  
.hire-card .discription h3{
    color:#ffffff;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -1.5px;
}
.hire-card .discription{
    position: relative;
    max-width: 570px;
}
.hire-card .discription img{
    position: absolute;
    right: 0px;
}
.hire-card .btn-wrap{
    position: relative;
}
.hire-card .discription::after{
    position:absolute;
    content: "";
    top: -55px;
    right: -120px;
    width: 80px;
    height: 80px;
    background: url(../images/Group\ 162529.png) no-repeat;
    z-index: 1;
}
.hire-card .btn-wrap::after{
    position:absolute;
    content: "";
    top: -55px;
    right: -55px;
    width: 80px;
    height: 60px;
    background: url(../images/Group\ 46.png) no-repeat;
    z-index: 1;
}

/* Responsive CSS */
@media (max-width: 991.98px){
    .hire--{
        margin: 40px 10px 80px 10px;
    }
    
    .hire-card{
        border-radius: 15px;
        padding: 80px 45px 80px 60px;
    
    }  
    .hire-card .discription h3{
        font-size: 30px;
        line-height: 50px;
    }
    .hire-card .discription{
        max-width: 500px;
    }
    .hire-card .discription img{
        position: absolute;
        right: 0px;
        width: 50px;
    }
    .hire-card .discription::after{
        top: -55px;
        right: -70px;
        background: url(../images/Group\ 162529.png) no-repeat;
        z-index: 1;
    }
    .hire-card .btn-wrap::after{
        top: -45px;
        right: -45px;
        width: 70px;
        height: 50px;
        background: url(../images/Group\ 46.png) no-repeat;
        z-index: 1;
    }
}

@media (max-width: 767.98px){
    .hire--{
        margin: 50px 10px 100px 10px;
    }
    
    .hire-card{
        flex-direction: column;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 60px;
        padding: 120px 50px 80px 70px;
    
    }  
    .hire-card .discription h3{
        color:#ffffff;
        font-size: 34px;
        line-height: 52px;
        text-align: center;
    }
    .hire-card .discription img{
        width: 40px;
    }
    .hire-card .discription::after{
        top: -80px;
        right: 140px;
        width: 70px;
        height: 70px;
        background-size: cover;
    }
    .hire-card .btn-wrap::after{
        top: -50px;
        right: -50px;
        width: 80px;
        height: 60px;
        background: url(../images/Group\ 46.png) no-repeat;
        z-index: 1;
        background-size: cover;
    }

}

@media (max-width: 575.98px){
    .hire--{
        margin: 50px 10px 100px 10px;
    }
    
    .hire-card{
        border-radius: 12px;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px 0px 60px 0px;
    
    }  
    .hire-card .discription h3{
        font-size: 30px;
        line-height: 45px;
       
    }
    .hire-card .discription{
        position: relative;
        max-width: 300px;
        text-align: center;
        margin-bottom: 10px;
    }
    .hire-card .discription img{
        position: absolute;
        right: -20px;
    }
    .hire-card .btn-wrap{
        position: relative;
    }
    .hire-card .discription::after{
        top: -70px;
        right: 100px;
        width: 60px;
        height: 60px;
        background: url(../images/Group\ 162529.png) no-repeat;
        z-index: 1;
        background-size: cover;
    }
    .hire-card .btn-wrap::after{
        position:absolute;
        content: "";
        top: -35px;
        right: -40px;
        width: 60px;
        height: 40px;
        background: url(../images/Group\ 46.png) no-repeat;
        z-index: 1;
        background-size: cover;
    }
    
}