.pricing {
    padding-top: 20px;
    padding-bottom: 100px;
}

.pricing .row-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.pricing .row-1 .description p {
    margin-top: 20px;
    color: rgba(29, 27, 27, 0.70);
    width: 468px;
    text-align: center;
}

.pricing .row-2 {
    display: flex;
    justify-content: center;
}

.pricing .row-2 .block {
    height: 90px;
}

.pricing .row-2 .row2-col-1 {
    margin-right: 80px;
}

.pricing .row-2 .row2-col-3 {
    margin-left: 80px;
}

/* Responsive */
@media (max-width: 991.98px) {
    .pricing .row-1 {
        margin-bottom: 30px;
    }

    .pricing .row-1 h2 {
        font-size: 32px;
        line-height: 50px;
    }

    .pricing .row-1 .description p {
        font-size: 18px;
        margin-top: 10px;
    }

    .pricing .row-2 {
        display: flex;
        flex-direction: column;
    }
    .pricing .row-2 .row2-col-1 {
        margin-right: 0px;
        margin-bottom: 80px;
    }
    
    .pricing .row-2 .row2-col-3 {
        margin-top: 60px;
        margin-left: 0px;
    }
    .pricing .row-2 .block {
        height: 10px;
    }
}

@media (max-width: 767.98px) {
    .pricing .row-1 {
        margin-bottom: 20px;
    }

    .pricing .row-1 h2 {
        font-size: 24px;
        line-height: 38px;
    }

    .pricing .row-1 .description p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 5px;
    }
}

@media (max-width: 575.98px) {
    .pricing .row-1 h2 {
        font-size: 20px;
        line-height: 28px;
    }
}