.service-card {
    width: 260px;
}

.service-card .card-title p {
    color: black;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.75px;
    margin: 18px 0;
}

.service-card .card-discription p {
    color: black;
    opacity: 0.6;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
}

.service-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: space-around;
}

.our-service {
    text-align: center;
    padding: 50px;
}

.our-service .section-title p {
    color: #DF006B;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.our-service .section-discription p {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
    padding: 20px 0 50px 0;
    text-align: center;
}

/* responsive */
@media (max-width: 767.98px) {
    .our-service {
        padding: 40px;
    }

    .our-service .section-title p {
        font-size: 16px;
        line-height: 32px;
    }

    .our-service .section-discription p {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        padding: 15px 0 40px 0;
    }
}

@media (max-width: 575.98px) {
    .our-service {
        padding: 30px;
    }

    .our-service .section-title p {
        font-size: 14px;
        line-height: 26px;
    }

    .our-service .section-discription p {
        font-size: 20px;
        padding: 12px 0 30px 0;
    }

    .service-card {
        width: 320px;
        text-align: center;

    }
}