.testimonials {
    background-color: #f7f7f7;
    padding: 120px 0;
}

.testimonials .testimony-wrapper {
    display: flex;
    position: relative;
}

.testimonials .testimony-wrapper .col-1 {
    margin-right: 92px;
    margin-left: 96px;
}

.testimonials .testimony-wrapper .col-2 .description {
    max-width: 520px;
}

.testimonials .testimony-wrapper .col-2 .description h2 {
    color: #0C111F;
    margin-bottom: 25px;
}

.testimonials .testimony-wrapper .col-2 .description p {
    color: #0C111F;
    opacity: 0.6;
    font-size: 20px;
}

.testimony-wrapper::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top: 52px;
    background: url('../images/icon-arrow-up.svg') no-repeat;
    background-color: #fff;
    background-size: cover;
    border: 8px solid #f5f5f5;
    border-radius: 50px;
}

.testimony-wrapper::after {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top: 124px;
    background: url('../images/icon-arrow-down.svg') no-repeat;
    background-color: #6F51C1;
    background-size: cover;
    border: 8px solid #f5f5f5;
    border-radius: 50px;
}

@media (max-width: 991.98px) {
    .testimonials {
        padding: 100px 0;
    }

    .testimonials .testimony-wrapper .col-1 {
        margin-right: 70px;
        margin-left: 80px;
    }

    .testimonials .testimony-wrapper .col-2 .description h2 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 50px;
    }

    .testimonials .testimony-wrapper .col-2 .description p {
        font-size: 18px;
    }

    .testimony-wrapper::before {
        width: 40px;
        height: 40px;
        top: 44px;

    }

    .testimony-wrapper::after {
        width: 40px;
        height: 40px;
        top: 116px;
    }
}

@media (max-width: 767.98px) {
    .testimonials .testimony-wrapper .col-1 {
        margin-right: 50px;
    }

    .testimonials .testimony-wrapper .col-2 .description h2 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 38px;
    }

    .testimonials .testimony-wrapper .col-2 .description p {
        font-size: 16px;
        line-height: 28px;
    }

    .testimony-wrapper::before {
        width: 36px;
        height: 36px;
    }

    .testimony-wrapper::after {
        width: 36px;
        height: 36px;
        top: 100px;
    }
}

@media (max-width: 575.98px) {
    .testimonials {
        padding: 48px 0;
    }

    .testimonials .testimony-wrapper {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }

    .testimonials .testimony-wrapper .col-1 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .testimonials .testimony-wrapper .col-2 {
        text-align: center;
    }
    .testimonials .testimony-wrapper .col-2 .description h2 {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 28px;
    }

    .testimonials .testimony-wrapper .col-2 .description p {
        font-size: 16px;
        line-height: 28px;
    }

    .testimony-wrapper::before {
        width: 30px;
        height: 30px;
        top: 144px;
        left: 60px;
    }

    .testimony-wrapper::after {
        width: 30px;
        height: 30px;
        top: 194px;
        left: 60px;

    }
}